@import url("https://fonts.googleeapis.com/css?family=Lato:400,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://travel.usnews.com/static-atlas/assets/img/travel/rewards/hotels-%D1%81%D1%81.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    text-align: center;
    padding: 100px 0 50px 0;
}
header a {
    text-decoration: none;
    color: #fff;
    font-size: xx-large;
}
.hotel-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.flex-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 10vh;
    background: #fff;
    border-radius: 10px;
    margin: 50px 0 50px 0;
}
.flex-form div {
    display: flex;
    flex-direction: column;
}

input[type="search"] {
    height: 30px;
    width: 300px;
    padding: 5px;
    outline: none;
}

input[type="date"] {
    color: rgb(92, 74, 109);
    height: 30px;
    padding: 5px;
    border: 1px solid #d73851;
    outline: #d73851;
}

select {
    height: 30px;
    padding: 5px;
    color: rgb(105, 70, 138);
    border: 1px solid #d73851;
    outline: #d73851;
}

button {
    padding: 5px;
    margin: 15px 0 0 0;
    background: #d73851;
    border: none;
    color: #fff;
    border-radius: 2px;
}


.hotel-information {
    width: 100%;
    height: 30vh;
    background: rgba(107, 21, 187, 0.933);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 200px 0 0 0;
    
}

.information {
    width: 25%;
    color: #fff;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #d73851;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    font-size: large;
}








/* *********************************** RESPOSIVE ******************* */


@media screen and (max-width: 300px) {
    header {
        width: 100%;
        text-align: center;
        padding: 50px 0 10px 0;
        
    }
    header a {
        font-size: large;
    }

    h1 {
        font-size: x-small;
    }

    .flex-form {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    input[type="search"] {
        height: 20px;
        width: 200px;
        
    }
    input[type="date"] {
        height: 20px;
    }

    select {
        height: 20px;
        padding: 1px;
    }
    button {
        margin: 5px 0 0 0;
    }

    .hotel-information {
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: 50px 0 0 0;
        overflow: scroll;

    }

    .information {
        font-size: small;
        
    }

    .icon {
        width: 20px;
        height: 20px;
        padding: 5px;
        font-size: x-small;
    }
}


@media screen and (max-width: 800px) {
    .flex-form {
        width: 90%;
        
    }
    h1 {
        font-size: 2rem;
    }
    input[type="search"] {
        height: 20px;
        width: 150px;
        padding: 5px;
        outline: none;
    }
    input[type="date"] {
        height: 20px;
        padding: 3px;
    }
    select {
        height: 20px;
        padding: 1px;
    }
    .hotel-information {
        width: 100%;
        height: auto;
        margin: 100px 0 0 0;
        font-size: x-small;
    }
}